<?php
/**
 * @author Israel Yasis
 */
/**
 * @var $block \PSS\IbanPaymentMethod\Block\Payment\Info\Iban
 */
?>
<dl class="payment-method iban order">
    <dt class="title"><?= $block->escapeHtml($block->getMethod()->getTitle()) ?></dt>
    <dd class="content">
        <strong><?= $block->escapeHtml(__('Iban Number')) ?></strong>
        <span class="number"><?= $block->escapeHtml($block->getInfo()->getPoNumber()) ?></span>
    </dd>
</dl>
