// custom panel primary
.panel.wrapper {
  background-color: @color-sky-blue1 !important;
}
.panel.header {
  background-color: @color-sky-blue1;
}

// custom for menu vas focus
.ui-corner-all {
  .ui-state-focus {
    background: #68a8e057 !important;
  }
}
