
// styles for custom header
.header.sections.header.customHeader {
  border-bottom: 1px solid #CAC3B4;
  background: #F1F1F1;
}

@media (min-width: @screen__m) {
  .sections {
    max-width: 100%;
  }
}

.header {
  min-height: 150px;
}

// styles for navegation bar
.sections.nav-sections {
  background: #F1F1F1;
  border-bottom: 1px solid #CAC3B4;
}

// style for footer
.footer.sections.footer {
  background: #31302B;
  padding-top: 50px;
  padding-bottom: 50px;
}


